.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 0 5px;
}

.header {
    display: flex;
    margin: 10px 0px 20px 0px;
    padding: 20px;
    justify-content: space-between;
    background-color: skyblue;
}

.heading {
    font-size: 20px;
    font-weight: 600;
}